@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(248, 248, 248)
}

.bg-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: 1; /* Ensure overlay is above the background image but below text */
  }
  
  .bg-content {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
    color: white; /* Adjust text color for contrast */
}

@layer components {
    .max-container {
        @apply max-w-[1440px] mx-auto;
    }
    
    .form-container {
        @apply p-6 lg:p-12;
    }

    .form-padding-container {
        @apply px-6 py-10 md:p-12;
    }

    .cookie-container {
        @apply fixed z-30 right-4 bottom-4 hidden md:block max-w-[544px] rounded-lg shadow-xl bg-white/85;
    }
    
    .padding-container {
        @apply p-6 md:p-12 lg:px-16 xl:px-20 xl:py-16;
    }
    
    .active-link {
        @apply pr-4 lg:pr-7 text-slate-800 font-bold hover:text-slate-500;
    }
    
    .passive-link {
        @apply font-medium pr-4 lg:pr-7 hover:font-semibold transition-all ease-in-out;
    }
    
    .flexCenter {
        @apply flex items-center justify-center;
    }
    
    .flexStart {
        @apply flex items-start justify-start;
    }
    
    .flexEnd {
        @apply flex items-end justify-end;
    }
    
    .flexBetween {
        @apply flex items-center justify-between;
    }
    
    .flexEvenly {
        @apply flex items-center justify-evenly;
    }
    
    .flexAround {
        @apply flex items-center justify-around;
    }

    .flexColCenter {
        @apply flex flex-col justify-center;
    }

    .flexColStart {
        @apply flex flex-col justify-start;
    }

    .flexColEnd {
        @apply flex flex-col justify-end;
    }

    .bold-24 {
        @apply text-2xl font-bold;
    }
    
    .bold-20 {
        @apply text-xl font-bold;
    }
    
    .regular-18 {
        @apply text-lg font-medium;
    }
    
    .regular-16 {
        @apply text-base font-normal;
    }
    
    .regular-14 {
        @apply text-sm font-normal;
    }
    
    .regular-12 {
        @apply text-xs font-normal;
    }
    
    .active-nav {
        @apply pr-4 lg:pr-7 text-custom-black font-bold hover:text-[#FF8C38] underline;
    }
    
    .passive-nav {
        @apply font-medium pr-4 lg:pr-7 hover:underline hover:font-semibold transition-all;
    }

    .header-absolute {
        @apply absolute top-0 right-0 left-0 z-50;
    }

    .header-container {
        @apply sticky z-30 top-0 h-fit w-full flex items-center justify-between shadow-md bg-[#f1f5f1];
    }

    .mobile-btn {
        @apply relative z-30 w-fit h-fit flex items-center justify-center text-inherit p-4 -mr-4 border-0 bg-transparent ease-linear transition-opacity cursor-pointer;
    }

    .mobile-menu {
        @apply fixed top-0 right-0 bottom-0 z-10 h-screen min-w-[65vw] max-w-[400px] flex items-center justify-center py-12 px-3 outline-none visible translate-x-[0vw] transition-all bg-slate-200;
    }

    .mobile-nav {
        @apply w-full flex flex-col items-center justify-between text-center shadow-xl;
    }

    .avatar-img {
        @apply size-8 rounded-full aspect-auto object-cover;
    }

    .auth-btn {
        @apply w-full md:w-56 xl:w-64 2xl:w-72 inline-flex items-center justify-center font-medium regular-14 xl:regular-16 text-black border rounded-lg px-5 py-2.5 xl:py-3 text-center bg-white hover:bg-[#f3f4f6]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50;
    }

    .choices-btn {
        @apply regular-14 font-medium text-white text-center px-4 py-2 rounded-lg cursor-pointer opacity-85 bg-[#0284c7] transition-all ease-in-out duration-150 hover:scale-105 hover:opacity-95;
    }

    .reject-btn {
        @apply font-medium regular-14 text-black py-2 px-4 border opacity-60 border-slate-600/20 rounded-lg cursor-pointer transition-all ease-out duration-150 hover:scale-105 hover:opacity-95 hover:border-opacity-95;
    }

    .accept-btn {
        @apply font-medium regular-14 text-white py-2 px-4 rounded-lg opacity-80 cursor-pointer bg-[#0284c7] transition-all ease-in-out hover:scale-105 hover:opacity-95;
    }

    .contact-item-row {
        @apply col-span-2 md:col-span-1 flex flex-col;
    }

    .contact-label {
        @apply block regular-14 xl:regular-16 font-medium xl:font-semibold text-slate-800 mb-2;
    }

    .contact-input {
        @apply regular-14 xl:regular-16 p-3 border border-[#d1d5db] rounded-lg shadow-sm bg-[#f9fafb];
    }

    .icon-container {
        @apply size-16 2xl:size-20 flexCenter rounded-lg shadow-md bg-[#f3f4f6] mb-4 mx-auto transition-all ease-in-out duration-150 hover:scale-105;
    }

    .btn-search {
        @apply w-fit regular-18 text-white font-semibold text-center py-4 px-6 rounded-lg shadow-md opacity-90 cursor-pointer bg-blue-600 hover:opacity-100 focus:ring-4 focus:ring-red-500;
    }

    .contact-form {
        @apply max-w-4xl gap-8 grid grid-cols-1 md:grid-cols-2 p-6 border border-white/85 rounded-lg shadow-lg mx-auto mb-16 bg-white;
    }

    .btn-contact-submit {
        @apply min-w-fit w-fit regular-14 2xl:regular-16 text-white font-semibold text-center py-3 px-5 rounded-lg shadow-md opacity-95 cursor-pointer bg-[#0284c7] hover:opacity-100 hover:scale-105 transition-all ease-out duration-150;
    }

    .home-hero {
        @apply relative h-96 md:h-[540px] lg:h-[620px] xl:h-[725px] max-w-7xl rounded-xl xl:rounded-2xl py-28 mx-auto bg-center bg-test bg-no-repeat aspect-auto bg-cover object-cover;
    }

    .home-heading {
        @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl font-bold font-sans text-balance;
    }

    .sub-paragraph {
        @apply regular-16 md:regular-18 xl:bold-20 2xl:bold-24 text-slate-700 font-medium mt-10 first-letter:bold-24;
    }

    .btn-group {
        @apply text-gray-900 regular-18 font-semibold px-8 py-2.5 border border-gray-200 outline-none transition-all duration-150 ease-in-out hover:text-blue-700  hover:bg-gray-100 hover:underline focus:ring-2 focus:ring-blue-400 focus:text-blue-700;
    }

    .accent-container {
        @apply gap-y-2 md:gap-y-0 md:gap-x-4 flex flex-col md:flex-row items-center text-center md:text-left p-4;
    }

    .accent-title {
        @apply text-5xl font-semibold xl:text-6xl xl:font-medium text-[#252525] opacity-90;
    }

    .accent-label {
        @apply regular-18 leading-6 font-medium text-balance 2xl:leading-7 text-slate-400/85;
    }

    .account-container {
        @apply flex flex-1 flex-col gap-4 md:gap-8 p-4 md:p-8;
    }

    .grid-container {
        @apply w-full gap-x-4 gap-y-12 md:gap-y-6 xl:gap-y-8 xl:gap-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-center justify-center;
    }

    .list-container {
        @apply w-full md:gap-y-4 lg:gap-y-6 xl:gap-y-8 flex flex-col items-center flex-nowrap justify-center mx-auto;
    }

    .basic-transition {
        @apply transition-all ease-in-out duration-100;
    }
}
